<nav class="navbar navbar-expand-lg navbar-dark sticky-top start-menu">
    <a class="navbar-brand" href="/inicio">
        <img src="../../public/img/logo-removebg-preview.png" alt="Logo Moto Move" height="60">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="nav-link menu-list" href="/motoristas">Voltar</a>
            </li>
        </ul>
    </div>
    </div>
</nav>

<div class="p-2 mt-5 mb-5">
    <div class="container form-container">
        <div class="form-header">
            <h3>Editar Motorista</h3>
            <hr>
        </div>
        <div class="form-body">
           <form action="/cadastrar/motorista" method="POST">
                {{!-- <div class="alert alert-success" role="alert">
                    Exemplo mensagem de sucesso.
                </div>
                <div class="alert alert-danger" role="alert">
                    Exemplo mensagem de erro.
                </div> --}}
                <div class="row p-2">
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Nome" name="nome" id="nome" value="{{data.nome}}" required>
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="CNPJ" name="cnpj" id="cnpj" value="{{data.cnpjEmpresa}}" required>
                    </div>
                </div>
                <div class="row p-2">
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Telefone" name="telefone" id="telefone" value="{{data.telefone}}" required>
                    </div>
                    <div class="col">
                        <input type="date" class="form-control" placeholder="Data de nascimento" name="dataNascimento" id="dataNascimento" value="{{data.dataNascimento}}" required>
                    </div>
                </div>
                <div class="row p-2">
                    <div class="col">
                        <input type="text" class="form-control" placeholder="E-mail" name="email" id="email" value="{{data.email}}" required>
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Senha" name="senha" id="senha" required>
                    </div>
                </div>
                <hr>
                <div class="row p-2">
                    <div class="col">
                        <input type="text" class="form-control" placeholder="CNH" name="cnh" id="cnh" value="{{data.cnh}}" required>
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Documento do veículo" name="documentoVeiculo" id="documentoVeiculo" value="{{data.documentoVeiculo}}" required>
                    </div>
                </div>
                <div class="row p-2">
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Número da conta bancária"
                            name="dadosBancarios" id="dadosBancarios" value="{{data.dadosBancarios}}" required>
                    </div>
                    <div class="col">
                        <input type="hidden" class="form-control" placeholder="CPF" name="cpf" id="cpf" value="{{data.cpf}}" required>
                    </div>
                </div>
                <div class="row p-2">
                    <div class="col text-center">
                        <button class="btn button mt-5" type="submit">Salvar edições</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>